@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

.font-nunito {
  font-family: "Nunito" !important;
}

.font-merienda {
  font-family: "Merienda" !important;
}

.font-bulldog {
  font-family: "bulldog" !important;
}

.font-herme {
  font-family: "herme" !important;
}

html {
  padding: 0px !important;
  scroll-behavior:smooth
}


body {
  color: var(--foreground);
  background: var(--background);
}

